* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


:root {
    --primary-color: rgb(216, 216, 216);
    --secondary-color: whitesmoke;

}

header {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(44, 40, 40);
}

header nav ul li a:hover {
    color: var(--secondary-color)
}

header img {
    width: 6%;
}

section {
    padding: 30px;
    min-height: 100vh;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/assets/123.jpg);
    background-repeat: no-repeat;
    background-position: right;

}

#banner h1 {
    font-size: 65px;
}


#banner p {
    width: 60%;
    font-size: 25px;
    color: #8a8a8a;
}

#banner p strong {
    color: rgb(134, 97, 27);
    font-weight: normal;
}

#categories h2 {
    text-align: center;
    font-size: 45px;
    margin: 80px;
}




.categories-cards {
    max-width: 100%;
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px;
    text-align: center;
}

.card img {
    width: 100%;

}

.products-container {
    background-color: aqua;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px;
    text-align: center;
}